
body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00AAFF, #f09ee2);
}

.heading{
    text-align: center;
    font-size: 2rem;
    font-family: Georgia;
    text-shadow: 1px 2px rgb(234, 146, 241);
    color: #f7f3f6;
    
}
table{
    background-color: #f4cbfa;
    border-radius: 10px;
}

.calgrid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    border-radius: 20px;
    border: 1px solid white;
    
}

input[type="button"]
{
    border-radius: 10px;
    background-color:#f4cbfa;
    color: black;
    border-color:#e796f3 ;
    font-size: 2rem;
    width:100%;
}
input[type="text"]
{
border-radius: 15px;
font-size:1.5rem;
text-align: right;
background-color:#f4cbfa;
border-color: #e796f3 ;
width:100%;
}
